# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#source insight dir
/SI/FreeRTOS_V10.0.1_STM32.IAB
/SI/FreeRTOS_V10.0.1_STM32.IAD
/SI/FreeRTOS_V10.0.1_STM32.IMB
/SI/FreeRTOS_V10.0.1_STM32.IMD
/SI/FreeRTOS_V10.0.1_STM32.PFI
/SI/FreeRTOS_V10.0.1_STM32.PO
/SI/FreeRTOS_V10.0.1_STM32.PR
/SI/FreeRTOS_V10.0.1_STM32.PRI
/SI/FreeRTOS_V10.0.1_STM32.PS
SI

MDK-ARM
